<template>
  <div v-if="weatherData">
    <div class="calendar-head">
      <h1>{{yearMonth}}</h1>
      <div class="line-legend">
        <tag class="tag" type="yellow" size="small"/>
        {{tl('高温')}}
        <tag class="tag" type="blue" size="small"/>
        {{tl('低温')}}
        <tag class="tag" type="red" size="small"/>
        {{tl('特殊天气')}}
      </div>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th>{{tl('日')}}</th>
            <th>{{tl('一')}}</th>
            <th>{{tl('二')}}</th>
            <th>{{tl('三')}}</th>
            <th>{{tl('四')}}</th>
            <th>{{tl('五')}}</th>
            <th>{{tl('六')}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(n, week) in 5">
            <td v-for="(n, day) in 7">
              <day v-if="getIndex(week, day) >= firstIndex && getIndex(week, day, true) < 31"
                :id="getIndex(week, day, true)"
                :data="weatherData[getIndex(week, day, true)]"
                :min="minTmp"
                :max="maxTmp"
                :focused="focused"
                v-model="focused">
              </day>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Tag from '@/components/Tag'
import Day from '@/components/Day'
import moment from 'moment';

export default {
  components: {
    Tag,
    Day
  },
  watch: {
    focused() {
      this.onDayFocused();
    }
  },
  data() {
    return {
      firstIndex: 0,
      minTmp: 0,
      maxTmp: 0,
      focused: 0,
      weatherData: null
    }
  },
  computed: {
    // Format string
    yearMonth() {
      const date = moment(this.weatherData[0].date, "YYYY-MM-DD");
      if(this.$utils.getUrlKey('lang') === 'en') {
        return date.format('MMMM YYYY');
      }
      return `${date.year()}年${date.month() + 1}月`;
    }
  },
  methods: {
    // Return the array index based on the vue-for loop
    getIndex(week, day, current) {
      let id = week * 7 + day;
      if(current) {
        id -= this.firstIndex;
      }
      return id;
    },
    // Check the current day of the week
    updateFirstIndex() {
      this.firstIndex = moment(this.weatherData[0].date, "YYYY-MM-DD").day();
    },
    // Get the minimum and maximum temperatures
    updateMinMax() {
      this.minTmp = Math.min(...this.weatherData.map(({ min }) => min));
      this.maxTmp = Math.max(...this.weatherData.map(({ max }) => max));
    },
    // Emit the current focused day
    onDayFocused() {
      this.$emit('input', this.weatherData[this.focused]);
    },
    // Translate function
    tl(word) {
      return this.$utils.tl(word);
    },
    // To be replaced with an API call
    populateFakeData() {
      let weatherData = [
        { cond: 102, txt: '少云', min: 22, max: 30, date: '2019-07-27'},
        { cond: 301, txt: '强阵雨', min: 15, max: 20, date: '2019-07-28'},
        { cond: 100, txt: '晴', min: 10, max: 21, date: '2019-07-29'},
        { cond: 103, txt: '晴间多云', min: 12, max: 20, date: '2019-07-30'},
        { cond: 101, txt: '多云	', min: 8, max: 23, date: '2019-07-31'},
        { cond: 101, txt: '多云	', min: 14, max: 25, date: '2019-08-01'},
        { cond: 101, txt: '多云	', min: 9, max: 22, date: '2019-08-02'},
        { cond: 300, txt: '阵雨', min: 13, max: 25, date: '2019-08-03'},
        { cond: 101, txt: '多云', min: 22, max: 31, date: '2019-08-04'},
        { cond: 303, txt: '强雷阵雨	', min: 20, max: 30, date: '2019-08-05'},
        { cond: 101, txt: '多云', min: 19, max: 28, date: '2019-08-06'},
        { cond: 101, txt: '多云', min: 18, max: 27, date: '2019-08-07'},
        { cond: 100, txt: '晴', min: 22, max: 34, date: '2019-08-08'},
        { cond: 102, txt: '少云', min: 21, max: 32, date: '2019-08-09'},
        { cond: 101, txt: '多云', min: 20, max: 28, date: '2019-08-11'},
        { cond: 104, txt: '阴', min: 19, max: 31, date: '2019-08-12'},
        { cond: 101, txt: '少云', min: 28, max: 33, date: '2019-08-13'},
        { cond: 101, txt: '多云', min: 1, max: 14, date: '2019-08-14'},
        { cond: 101, txt: '多云', min: 11, max: 17, date: '2019-08-15'},
        { cond: 101, txt: '多云', min: 7, max: 20, date: '2019-08-16'},
        { cond: 101, txt: '多云', min: 11, max: 21, date: '2019-08-17'},
        { cond: 101, txt: '多云', min: 14, max: 22, date: '2019-08-18'},
        { cond: 101, txt: '多云', min: 9, max: 24, date: '2019-08-19'},
        { cond: 101, txt: '多云', min: 10, max: 26, date: '2019-08-20'},
        { cond: 100, txt: '晴', min: 10, max: 30, date: '2019-08-21'},
        { cond: 101, txt: '多云', min: 12, max: 25, date: '2019-08-22'},
        { cond: 100, txt: '晴', min: 1, max: 15, date: '2019-08-23'},
        { cond: 101, txt: '少云', min: 2, max: 13, date: '2019-08-24'},
        { cond: 300, txt: '阵雨', min: 0, max: 16, date: '2019-08-25'},
      ]
      for(let i = 0; i < weatherData.length; i++) {
        weatherData[i].date = moment().add(i, 'd').format('YYYY-MM-DD');
      }
      this.weatherData = weatherData;
    }
  },
  mounted() {
    this.populateFakeData();
    this.updateFirstIndex();
    this.updateMinMax();
    this.onDayFocused();
  }
}
</script>

<style scoped>
.calendar-head {
  border-bottom: 1px solid #D8D8D8;
  padding: 5vw;
}
.calendar-head h1 {
  float: left;
  line-height: 1vw;
  font-size: 4vw;
}
.calendar-head .line-legend {
  float: right;
  line-height: 1vw;
  color: #D8D8D8;
  font-size: 2.2vw;
}
.calendar-head .tag {
  margin-left: 1vw;
  margin-right: .75vw;
}
table {
  font-size: 3vw;
  padding: 0 1vw;
  width: calc(100% - 1vw);
  margin: auto;
  margin-top: 2vw;
}
thead tr th {
  color: #D8D8D8;
  padding: 2vw 0;
}
</style>
