<template>
  <div @mouseover="hover = true" @mouseleave="hover = false" @click="onClick()" v-if="data" class="day">
    <div v-bind:class="{hover: hover || id === focused}">
      <h1>{{dayValue}}</h1>
      <img :src="CONFIG.IMG_PATH + data.cond + $utils.dayOrNight() + '.png'">
      <div class="tag-container">
        <div class="expand"></div>
        <tag v-if="isMax" type="yellow"></tag>
        <tag v-if="isMin" type="blue"></tag>
        <tag v-if="isAlert" type="red"></tag>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import Tag from '@/components/Tag'

export default {
  components: {
    Tag,
  },
  props: {
    id: Number,
    data: Object,
    min: Number,
    max: Number,
    focused: Number
  },
  data() {
    return {
      hover: false,
    }
  },
  computed: {
    // Return the day value based on language/time
    dayValue() {
      let date = moment(this.data.date, "YYYY-MM-DD");
      if(this.today) {
        return this.$utils.tl('今天');
      }
      if(this.firstDay) {
        if(this.$utils.getUrlKey('lang') === 'en') {
          return date.format('MMM');
        }
        return (date.month() + 1) + '月';
      }
      return date.date();
    },
    // is it today ?
    today() {
      const today = moment(this.data.date, "YYYY-MM-DD").isSame(moment(), 'day');
      if(today) {
        this.onClick();
      }
      return today;
    },
    // is this the first day of the month ?
    firstDay() {
      return moment(this.data.date, "YYYY-MM-DD").date() == 1;
    },
    // show lowest temperature ?
    isMin() {
      return this.data.min === this.min;
    },
    // show highest temperature ?
    isMax() {
      return this.data.max === this.max;
    },
    // show alert ?
    isAlert() {
      const cond = (this.data.cond + '').substring(0,1);
      return cond === '3' || cond === '4' || cond === '5';
    }
  },
  methods: {
    onClick() {
      this.$emit('input', this.id);
    }
  },
}
</script>

<style scoped>
.day {
  width: 100%;
  font-size: 3vw;
  margin: 1vw 0vw;
  padding: 0 1vw;
  box-sizing: border-box;
  cursor: pointer;
}
.day > div {
  border: 1px solid transparent;
  height: 100%;
  padding: .5vw 0;
  border-radius: 1.5vw;
  background: rgba(216,216,216,0.02);
}
.day > div.hover {
  background: rgba(216,216,216,0.20);
  border: 1px solid rgba(255,255,255,0.07);
}
.tag-container {
  height: 2vw;
  display: flex;
  flex-direction: column;
}
.tag-container .expand {
  flex: 1;
}
h1 {
  margin: 1vw 0;
  z-index: 100;
}
img {
  width: 60%;
}
</style>
