<template>
  <div v-if="data">
    <div class="top">
      <div></div>
      <h1>{{dateString}}</h1>
      <div></div>
    </div>
    <div class="content">
      <h2>{{maxMin}}</h2>
      {{data.txt}}
    </div>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  props: {
    data: Object
  },
  data() {
    return {
      weatherDetail: []
    }
  },
  computed: {
    // Format the date
    dateString() {
      const date = moment(this.data.date, "YYYY-MM-DD");
      if(this.$utils.getUrlKey('lang') === 'en') {
        return date.format('MMMM Do');
      }
      return  `${date.month() + 1}月${date.date()}日`;
    },
    maxMin() {
      return `${this.data.max}°~${this.data.min}°`;
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 4vw;
}
h2 {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 9vw;
  display: inline-block;
  margin-right: 1.5vw;
}
.top {
  display: flex;
}
.top div {
  flex: 1;
  margin-top: 2vw;
  background-color: #D8D8D8;
  height: 1px;
}
.top div:first-of-type {
  margin-right: 4vw;
}
.top div:last-of-type {
  margin-left: 4vw;
}
.content {
  margin-top: 6vw;
  font-size: 4vw;
}
</style>
